Repository frontity/frontity, pull requests merged in 2019-07, with the labels that each got.

#154 docs(cli): add description to target option
  packages/frontity/src/commands.ts
Labels: @frontity

#157 fix(mars-theme): support external links in Link component
  packages/mars-theme/src/components/link.js
Labels: @mars-theme

#160 chore(types): add types for fields title and description
  packages/types/src/package.ts
Labels: @types, improvement

#159 chore(types): change types dev dependencies for dependencies
  packages/tiny-router/package.json
  packages/wp-source/package.json
Labels: @tiny-router, @wp-source, bug

#161 chore(types): moves types from 'index.ts' to 'types.ts'
  package-lock.json
  packages/core/package.json
  packages/core/src/config/babel/index.ts
  packages/core/src/config/frontity/index.ts
  packages/core/src/config/index.ts
  packages/core/src/config/webpack/devtool.ts
  packages/core/src/config/webpack/entry.ts
  packages/core/src/config/webpack/externals.ts
  packages/core/src/config/webpack/index.ts
  packages/core/src/config/webpack/modules.ts
  packages/core/src/config/webpack/name.ts
  packages/core/src/config/webpack/output.ts
  packages/core/src/config/webpack/plugins.ts
  packages/core/src/config/webpack/targets.ts
  packages/core/src/scripts/build.ts
  packages/core/src/scripts/dev.ts
  packages/core/src/scripts/utils/create-app.ts
  packages/core/src/scripts/utils/entry-points.ts
  packages/core/src/server/index.tsx
  packages/core/src/server/templates/amp.ts
  packages/core/src/server/templates/html.ts
  packages/core/src/server/templates/index.ts
  packages/core/src/server/utils/head.ts
  packages/core/types.ts
  packages/core/typings.d.ts
  packages/file-settings/package.json
  packages/file-settings/src/getAllSites.ts
  packages/file-settings/src/getSettings.ts
  packages/file-settings/src/importSettings.ts
  packages/file-settings/src/index.ts
  packages/file-settings/src/normalizeSettings.ts
  packages/file-settings/src/validateSettings.ts
  packages/file-settings/types.ts
  packages/tiny-router/src/__tests__/index.test.ts
  packages/tiny-router/src/actions.ts
  packages/tiny-router/src/index.ts
  packages/tiny-router/types.ts
  packages/wp-source/src/__mocks__/index.ts
  packages/wp-source/src/actions.ts
  packages/wp-source/src/index.ts
  packages/wp-source/src/libraries/get-match.ts
  packages/wp-source/src/libraries/handlers/__tests__/category.tests.ts
  packages/wp-source/src/libraries/handlers/__tests__/date.tests.ts
  packages/wp-source/src/libraries/handlers/__tests__/post.tests.ts
  packages/wp-source/src/libraries/handlers/attachment.ts
  packages/wp-source/src/libraries/handlers/author.ts
  packages/wp-source/src/libraries/handlers/date.ts
  packages/wp-source/src/libraries/handlers/page.ts
  packages/wp-source/src/libraries/handlers/post.ts
  packages/wp-source/src/libraries/handlers/postArchive.ts
  packages/wp-source/src/libraries/handlers/postType.ts
  packages/wp-source/src/libraries/handlers/taxonomy.ts
  packages/wp-source/src/libraries/populate.ts
  packages/wp-source/src/libraries/route-utils.ts
  packages/wp-source/src/state.ts
  packages/wp-source/types.ts
Labels: improvement, typescript

#165 fix(yoast): do not use canonical from yoast_meta
  packages/yoast/src/state/index.ts
  packages/yoast/src/state/titles.ts
  packages/yoast/src/state/utils.ts
Labels: @yoast, bug

#168 feat(frontity): expose fetch and URL from frontity package
  packages/core/src/config/webpack/__tests__/__snapshots__/index.ts.snap
  packages/core/src/config/webpack/externals.ts
  packages/frontity/src/index.ts
  packages/wp-source/package.json
  packages/wp-source/src/libraries/__tests__/api.tests.ts
  packages/wp-source/src/libraries/__tests__/populate.tests.ts
  packages/wp-source/src/libraries/api.ts
  packages/wp-source/src/libraries/handlers/__tests__/mocks/helpers.ts
Labels: @frontity, improvement

#174 feat(core): make localhost wait for webpack to avoid returning an error
  packages/core/src/scripts/utils/create-app.ts
Labels: @core, improvement
