Repository frontity/frontity, pull requests merged in 2019-06, with the labels that each got.

#113 feat(tiny-router): implement auto fetching
  packages/mars-theme/index.ts
  packages/mars-theme/src/components/link.js
  packages/mars-theme/src/index.js
  packages/tiny-router/index.ts
  packages/tiny-router/src/actions.ts
  packages/tiny-router/src/index.ts
Labels: @mars-theme, @tiny-router

#115 Changes in `source` and `route` API.
  packages/core/src/server/utils/__tests__/__snapshots__/initial-state.tests.ts.snap
  packages/core/src/server/utils/__tests__/initial-state.tests.ts
  packages/core/src/server/utils/initial-state.ts
  packages/mars-theme/src/components/header.js
  packages/mars-theme/src/components/link.js
  packages/mars-theme/src/components/list/list-item.js
  packages/mars-theme/src/components/list/list.js
  packages/mars-theme/src/components/list/pagination.js
  packages/mars-theme/src/components/nav.js
  packages/mars-theme/src/components/post.js
  packages/mars-theme/src/components/theme.js
  packages/router/__tests__/index.test.ts
  packages/router/index.ts
  packages/source/index.ts
  packages/source/src/__tests__/source.tests.ts
  packages/tiny-router/index.ts
  packages/tiny-router/src/__tests__/index.test.ts
  packages/tiny-router/src/actions.ts
  packages/tiny-router/src/index.ts
  packages/types/src/package.ts
  packages/wp-source/index.ts
  packages/wp-source/src/actions.ts
  packages/wp-source/src/libraries/__tests__/route-utils.test.ts
  packages/wp-source/src/libraries/handlers/author.ts
  packages/wp-source/src/libraries/handlers/date.ts
  packages/wp-source/src/libraries/handlers/postArchive.ts
  packages/wp-source/src/libraries/handlers/taxonomy.ts
  packages/wp-source/src/libraries/route-utils.ts
  packages/wp-source/src/libraries/schemas/attachments.ts
  packages/wp-source/src/libraries/schemas/authors.ts
  packages/wp-source/src/libraries/schemas/postTypes.ts
  packages/wp-source/src/libraries/schemas/taxonomies.ts
  packages/wp-source/src/state.ts
Labels: @core, @mars-theme, @router, @tiny-router, @wp-source

#117 feat(core): merge arrays found in state instead of overwriting them
  packages/core/src/server/utils/__tests__/__snapshots__/initial-state.tests.ts.snap
  packages/core/src/server/utils/__tests__/initial-state.tests.ts
  packages/core/src/server/utils/initial-state.ts
  packages/core/src/utils/__tests__/__snapshots__/merge-packages.tests.tsx.snap
  packages/core/src/utils/__tests__/merge-packages.tests.tsx
  packages/core/src/utils/merge-packages.ts
  packages/mars-theme/src/index.js
Labels: @core

#126 Open browser automatically when "frontity dev" loads
  packages/core/certs/localhost.cert
  packages/core/certs/localhost.key
  packages/core/package.json
  packages/core/src/scripts/utils/create-app.ts
  packages/core/src/scripts/utils/create-server.ts
Labels: @core

#116 feat(html2react): first implementation of Html2React
  examples/mars-theme-example/frontity.settings.js
  examples/mars-theme-example/package.json
  package-lock.json
  packages/html2react/himalaya/index.d.ts
  packages/html2react/himalaya/types.ts
  packages/html2react/jest.config.js
  packages/html2react/package.json
  packages/html2react/src/client.ts
  packages/html2react/src/index.ts
  packages/html2react/src/libraries/__tests__/__snapshots__/component.tests.tsx.snap
  packages/html2react/src/libraries/__tests__/__snapshots__/parse.tests.ts.snap
  packages/html2react/src/libraries/__tests__/component.tests.tsx
  packages/html2react/src/libraries/__tests__/decode.tests.ts
  packages/html2react/src/libraries/__tests__/mocks/html.ts
  packages/html2react/src/libraries/__tests__/parse.tests.ts
  packages/html2react/src/libraries/component.tsx
  packages/html2react/src/libraries/decode/client.ts
  packages/html2react/src/libraries/decode/server.ts
  packages/html2react/src/libraries/parse/attributes/html.json
  packages/html2react/src/libraries/parse/attributes/svg.json
  packages/html2react/src/libraries/parse/index.ts
  packages/html2react/src/server.ts
  packages/html2react/types.ts
  packages/mars-theme/index.ts
  packages/mars-theme/package.json
  packages/mars-theme/src/components/post.js
  packages/mars-theme/src/index.js
  packages/mars-theme/src/processors/index.js
Labels: @html2react

#122 fix(source): return isFetching and isReady with false by default in get
  packages/mars-theme/src/components/theme.js
  packages/source/src/data.ts
  packages/tiny-router/src/amp/server.ts
  packages/wp-source/src/__tests__/__snapshots__/actions.tests.ts.snap
  packages/wp-source/src/__tests__/actions.tests.ts
  packages/wp-source/src/__tests__/state.test.ts
  packages/wp-source/src/actions.ts
  packages/wp-source/src/amp/server.ts
  packages/wp-source/src/html/client.ts
  packages/wp-source/src/html/server.ts
  packages/wp-source/src/libraries/handlers/__tests__/__snapshots__/category.tests.ts.snap
  packages/wp-source/src/libraries/handlers/__tests__/__snapshots__/date.tests.ts.snap
  packages/wp-source/src/libraries/handlers/__tests__/__snapshots__/post.tests.ts.snap
  packages/wp-source/src/libraries/handlers/__tests__/category.tests.ts
  packages/wp-source/src/libraries/handlers/__tests__/date.tests.ts
  packages/wp-source/src/libraries/handlers/__tests__/post.tests.ts
  packages/wp-source/src/libraries/handlers/attachment.ts
  packages/wp-source/src/libraries/handlers/author.ts
  packages/wp-source/src/libraries/handlers/date.ts
  packages/wp-source/src/libraries/handlers/page.ts
  packages/wp-source/src/libraries/handlers/post.ts
  packages/wp-source/src/libraries/handlers/postArchive.ts
  packages/wp-source/src/libraries/handlers/postType.ts
  packages/wp-source/src/libraries/handlers/taxonomy.ts
  packages/wp-source/src/state.ts
Labels: @wp-source

#136 feat(core): add HMR to the Connect store
  packages/core/src/client/index.tsx
Labels: @core

#133 feat(webpack): use raw-loader to import css files
  package-lock.json
  packages/core/package.json
  packages/core/src/config/webpack/__tests__/__snapshots__/index.ts.snap
  packages/core/src/config/webpack/modules.ts
Labels: @core

#134 chore(core): fix server starting over and over again
  packages/core/src/scripts/utils/create-app.ts
Labels: @core, bug

#137 Fixes for two problems with es5 bundles
  packages/connect/src/scheduler.js
  packages/core/package.json
  packages/core/src/config/webpack/__tests__/__snapshots__/index.ts.snap
  packages/core/src/config/webpack/entry.ts
Labels: @connect, @core, bug

#138 Frontity create fix and some mars-theme improvements
  packages/frontity/src/functions/create/__tests__/__snapshots__/steps.tests.ts.snap
  packages/frontity/src/functions/create/steps.ts
  packages/frontity/src/functions/create/types.ts
  packages/mars-theme/index.ts
  packages/mars-theme/package.json
  packages/mars-theme/src/components/index.js
  packages/mars-theme/src/index.js
  packages/mars-theme/src/processors/index.js
Labels: @frontity, @mars-theme

#131 feat(wp-source): add support for subdirectory, redirections, pages as home, category and tag base
  package-lock.json
  packages/wp-source/index.ts
  packages/wp-source/src/__mocks__/index.ts
  packages/wp-source/src/__tests__/__snapshots__/actions.tests.ts.snap
  packages/wp-source/src/__tests__/actions.tests.ts
  packages/wp-source/src/__tests__/mocks/api.ts
  packages/wp-source/src/__tests__/mocks/populate.ts
  packages/wp-source/src/__tests__/mocks/resolver.ts
  packages/wp-source/src/actions.ts
  packages/wp-source/src/index.ts
  packages/wp-source/src/libraries/__tests__/__snapshots__/populate.tests.ts.snap
  packages/wp-source/src/libraries/__tests__/api.tests.ts
  packages/wp-source/src/libraries/__tests__/handlers.custom.tests.ts
  packages/wp-source/src/libraries/__tests__/handlers.org.test.ts
  packages/wp-source/src/libraries/__tests__/populate.tests.ts
  packages/wp-source/src/libraries/__tests__/redirections.tests.ts
  packages/wp-source/src/libraries/api.ts
  packages/wp-source/src/libraries/get-match.ts
  packages/wp-source/src/libraries/handlers/__tests__/category.tests.ts
  packages/wp-source/src/libraries/handlers/__tests__/date.tests.ts
  packages/wp-source/src/libraries/handlers/__tests__/mocks/category-7.json
  packages/wp-source/src/libraries/handlers/__tests__/mocks/post-60.json
  packages/wp-source/src/libraries/handlers/__tests__/mocks/posts-2016-10-25.json
  packages/wp-source/src/libraries/handlers/__tests__/mocks/posts-2016-page-2.json
  packages/wp-source/src/libraries/handlers/__tests__/mocks/posts-2016.json
  packages/wp-source/src/libraries/handlers/__tests__/mocks/posts-cat-7-subdir.json
  packages/wp-source/src/libraries/handlers/__tests__/mocks/posts-cat-7.json
  packages/wp-source/src/libraries/handlers/__tests__/post.tests.ts
  packages/wp-source/src/libraries/handlers/attachment.ts
  packages/wp-source/src/libraries/handlers/author.ts
  packages/wp-source/src/libraries/handlers/date.ts
  packages/wp-source/src/libraries/handlers/page.ts
  packages/wp-source/src/libraries/handlers/post.ts
  packages/wp-source/src/libraries/handlers/postArchive.ts
  packages/wp-source/src/libraries/handlers/postType.ts
  packages/wp-source/src/libraries/handlers/taxonomy.ts
  packages/wp-source/src/libraries/index.ts
  packages/wp-source/src/libraries/patterns/wp-com.ts
  packages/wp-source/src/libraries/patterns/wp-org.ts
  packages/wp-source/src/libraries/populate.ts
  packages/wp-source/src/libraries/resolver.ts
  packages/wp-source/src/libraries/route-utils.ts
  packages/wp-source/src/state.ts
Labels: @wp-source

#85 Improve Accessibility Score in Lighthouse
  packages/core/src/server/templates/html.ts
  packages/mars-theme/src/components/index.js
  packages/mars-theme/src/components/list/list-item.js
  packages/mars-theme/src/components/list/list.js
  packages/mars-theme/src/components/list/pagination.js
  packages/mars-theme/src/components/nav.js
  packages/mars-theme/src/components/post.js
Labels: @core, @mars-theme

#135 fix(frontity): allow dots on packages names
  packages/frontity/src/__tests__/utils.tests.ts
  packages/frontity/src/utils.ts
Labels: @frontity

#142 fix(components): add rootMargin to <Image> component
  packages/components/image.tsx
Labels: @frontity/components

#143 feat(frontity-cli): add command to get environment information
  packages/frontity/package.json
  packages/frontity/src/actions/index.ts
  packages/frontity/src/actions/info.ts
  packages/frontity/src/commands.ts
Labels: @frontity

#144 fix(core): return 404 if HMR endpoint gets through Webpack to Frontity
  packages/core/src/server/index.tsx
Labels: @core

#152 fix(frontity-cli): show npx version in the environment info
  packages/frontity/src/actions/info.ts
Labels: @frontity
