Repository frontity/frontity, pull requests merged in 2019-10, with the labels that each got.

#211 chore(type-declarations): create a type declarations package
  packages/frontity/package.json
  packages/type-declarations/index.d.ts
  packages/type-declarations/package.json
  tsconfig.json
Labels: typescript

#217 fix(core): delete package name from merged store
  packages/core/src/utils/__tests__/merge-packages.tests.tsx
  packages/core/src/utils/merge-packages.ts
Labels: @core, bug

#218 feat(frontity): add create-package command
  packages/frontity/src/actions/__tests__/__snapshots__/create-package.tests.ts.snap
  packages/frontity/src/actions/__tests__/create-package.tests.ts
  packages/frontity/src/actions/create-package.ts
  packages/frontity/src/actions/index.ts
  packages/frontity/src/commands.ts
  packages/frontity/src/functions/create-package/__tests__/steps.tests.ts
  packages/frontity/src/functions/create-package/index.ts
  packages/frontity/src/functions/create-package/steps.ts
  packages/frontity/src/functions/create-package/types.ts
  packages/frontity/src/utils.ts
Labels: @frontity

#203 Improve mars-theme (comments, examples...)
  packages/mars-theme/src/components/index.js
  packages/mars-theme/src/components/list/list-item.js
  packages/mars-theme/src/components/post.js
  packages/mars-theme/src/index.js
Labels: @mars-theme

#222 Fix files generated by command `create-package`
  packages/frontity/package.json
  packages/frontity/src/__tests__/utils.tests.ts
  packages/frontity/src/functions/create-package/index.ts
  packages/frontity/src/functions/create-package/steps.ts
  packages/frontity/src/functions/create/__tests__/__snapshots__/steps.tests.ts.snap
  packages/frontity/src/functions/create/__tests__/steps.tests.ts
  packages/frontity/src/functions/create/steps.ts
  packages/frontity/src/utils.ts
Labels: @frontity, improvement

#224 Support fonts in webpack
  .huskyrc
  cypress.json
  e2e/integration/fonts/__image_snapshots__/Fonts  should load the all fonts #0.png
  e2e/integration/fonts/__image_snapshots__/Fonts  should load the ttf font #0.png
  e2e/integration/fonts/__image_snapshots__/Fonts  should load the woff-1 font #0.png
  e2e/integration/fonts/__image_snapshots__/Fonts  should load the woff-2 font #0.png
  e2e/integration/fonts/__image_snapshots__/Fonts  should not load any fonts #0.png
  e2e/integration/fonts/fonts.spec.js
  e2e/integration/global.spec.js
  e2e/packages/fonts/package.json
  e2e/packages/fonts/src/fonts/aclonica-v10-latin-regular.eot
  e2e/packages/fonts/src/fonts/aclonica-v10-latin-regular.svg
  e2e/packages/fonts/src/fonts/aclonica-v10-latin-regular.ttf
  e2e/packages/fonts/src/fonts/aclonica-v10-latin-regular.woff
  e2e/packages/fonts/src/fonts/aclonica-v10-latin-regular.woff2
  e2e/packages/fonts/src/index.tsx
  e2e/packages/fonts/types.ts
  e2e/packages/global/package.json
  e2e/packages/global/src/index.tsx
  e2e/packages/global/types.ts
  e2e/plugins/index.js
  e2e/project/frontity.settings.ts
  e2e/project/package.json
  e2e/support/commands.js
  package-lock.json
  package.json
  packages/core/package.json
  packages/core/src/app/index.tsx
  packages/core/src/client/index.tsx
  packages/core/src/config/webpack/__tests__/__snapshots__/index.ts.snap
  packages/core/src/config/webpack/modules.ts
  packages/core/src/server/index.tsx
  packages/core/src/server/templates/html.ts
  packages/html2react/src/libraries/__tests__/__snapshots__/component.tests.tsx.snap
  packages/html2react/src/libraries/__tests__/__snapshots__/parse.tests.ts.snap
  packages/tiny-router/src/actions.ts
  packages/tiny-router/types.ts
Labels: @core, bug, improvement

#230 Fix handlers if a query is present
  packages/wp-source/src/libraries/handlers/__tests__/__snapshots__/author.tests.ts.snap
  packages/wp-source/src/libraries/handlers/__tests__/__snapshots__/category.tests.ts.snap
  packages/wp-source/src/libraries/handlers/__tests__/__snapshots__/date.tests.ts.snap
  packages/wp-source/src/libraries/handlers/__tests__/__snapshots__/post-archive.tests.ts.snap
  packages/wp-source/src/libraries/handlers/__tests__/__snapshots__/post-type.tests.ts.snap
  packages/wp-source/src/libraries/handlers/__tests__/__snapshots__/tag.tests.ts.snap
  packages/wp-source/src/libraries/handlers/__tests__/author.tests.ts
  packages/wp-source/src/libraries/handlers/__tests__/category.tests.ts
  packages/wp-source/src/libraries/handlers/__tests__/date.tests.ts
  packages/wp-source/src/libraries/handlers/__tests__/post-archive.tests.ts
  packages/wp-source/src/libraries/handlers/__tests__/post-type.tests.ts
  packages/wp-source/src/libraries/handlers/__tests__/tag.tests.ts
  packages/wp-source/src/libraries/handlers/postType.ts
Labels: @wp-source, bug, priority: high
