Repository frontity/frontity, pull requests merged in 2019-09, with the labels that each got.

#185 Fix custom post type and custom taxonomies population
  packages/connect/src/index.d.ts
  packages/wp-source/package.json
  packages/wp-source/src/libraries/__tests__/__snapshots__/populate.tests.ts.snap
  packages/wp-source/src/libraries/__tests__/populate.tests.ts
  packages/wp-source/src/libraries/handlers/__tests__/mocks/movies.json
  packages/wp-source/src/libraries/populate.ts
Labels: @wp-source, bug

#187 refactor(wp-source): simplify handlers
  packages/wp-source/src/libraries/__tests__/handlers.com.test.ts
  packages/wp-source/src/libraries/__tests__/handlers.custom.tests.ts
  packages/wp-source/src/libraries/__tests__/handlers.org.test.ts
  packages/wp-source/src/libraries/get-match.ts
  packages/wp-source/src/libraries/handlers/attachment.ts
  packages/wp-source/src/libraries/handlers/postType.ts
  packages/wp-source/src/libraries/patterns/wp-com.ts
  packages/wp-source/src/libraries/patterns/wp-org.ts
Labels: @wp-source, improvement

#190 fix(wp-source): allow arrays inside params in api.get
  packages/wp-source/package.json
  packages/wp-source/src/libraries/__tests__/api.tests.ts
  packages/wp-source/src/libraries/api.ts
Labels: @wp-source, bug

#191 feat(mars-theme): add dynamic <title> tags
  packages/mars-theme/src/components/index.js
  packages/mars-theme/src/components/title.js
Labels: @mars-theme, improvement

#196 fix(webpack): add support for images in Windows
  .huskyrc
  package-lock.json
  package.json
  packages/core/src/config/webpack/modules.ts
  packages/frontity/src/functions/create/__tests__/steps.tests.ts
Labels: @core, bug

#197 Switch to react helmet async
  .eslintrc
  cypress.json
  e2e/integration/head.spec.js
  e2e/packages/head/package.json
  e2e/packages/head/src/index.tsx
  e2e/packages/head/types.ts
  e2e/plugins/index.js
  e2e/project/favicon.ico
  e2e/project/frontity.settings.ts
  e2e/project/package.json
  e2e/support/commands.js
  e2e/support/index.js
  examples/typescript-basic/frontity.settings.ts
  examples/typescript-basic/package.json
  lerna.json
  package-lock.json
  package.json
  packages/components/__tests__/__snapshots__/image.node.tests.tsx.snap
  packages/components/__tests__/image.jsdom.tests.tsx
  packages/components/__tests__/image.node.tests.tsx
  packages/connect/src/index.d.ts
  packages/core/package.json
  packages/core/src/app/index.tsx
  packages/core/src/server/index.tsx
  packages/core/src/server/store.ts
  packages/core/src/server/utils/head.ts
  packages/frontity/package.json
  packages/frontity/src/index.ts
  packages/types/src/helmet.ts
  packages/types/src/index.ts
Labels: @core, bug

#198 refactor(wp-source): add entity props in data during populate
  packages/source/src/data.ts
  packages/wp-source/src/actions.ts
  packages/wp-source/src/libraries/__tests__/__snapshots__/populate.tests.ts.snap
  packages/wp-source/src/libraries/__tests__/populate.tests.ts
  packages/wp-source/src/libraries/handlers/__tests__/__snapshots__/author.tests.ts.snap
  packages/wp-source/src/libraries/handlers/__tests__/__snapshots__/category.tests.ts.snap
  packages/wp-source/src/libraries/handlers/__tests__/__snapshots__/date.tests.ts.snap
  packages/wp-source/src/libraries/handlers/__tests__/__snapshots__/post-archive.tests.ts.snap
  packages/wp-source/src/libraries/handlers/__tests__/__snapshots__/post-type.tests.ts.snap
  packages/wp-source/src/libraries/handlers/__tests__/__snapshots__/tag.tests.ts.snap
  packages/wp-source/src/libraries/handlers/__tests__/author.tests.ts
  packages/wp-source/src/libraries/handlers/__tests__/category.tests.ts
  packages/wp-source/src/libraries/handlers/__tests__/mocks/cpt-archive/cpts.json
  packages/wp-source/src/libraries/handlers/__tests__/mocks/movies.json
  packages/wp-source/src/libraries/handlers/__tests__/mocks/post-archive/posts-subdir.json
  packages/wp-source/src/libraries/handlers/__tests__/mocks/posts-cat-7-subdir.json
  packages/wp-source/src/libraries/handlers/__tests__/mocks/posts-cat-7.json
  packages/wp-source/src/libraries/handlers/__tests__/post-type.tests.ts
  packages/wp-source/src/libraries/handlers/__tests__/tag.tests.ts
  packages/wp-source/src/libraries/handlers/attachment.ts
  packages/wp-source/src/libraries/handlers/author.ts
  packages/wp-source/src/libraries/handlers/category.ts
  packages/wp-source/src/libraries/handlers/page.ts
  packages/wp-source/src/libraries/handlers/post.ts
  packages/wp-source/src/libraries/handlers/postType.ts
  packages/wp-source/src/libraries/handlers/tag.ts
  packages/wp-source/src/libraries/handlers/taxonomy.ts
  packages/wp-source/src/libraries/handlers/utils/__tests__/capitalize.test.ts
  packages/wp-source/src/libraries/handlers/utils/capitalize.ts
  packages/wp-source/src/libraries/populate.ts
Labels: @wp-source, improvement

#201 fix(wp-source): move clone-deep from code to tests
  packages/wp-source/src/index.ts
  packages/wp-source/src/libraries/handlers/__tests__/author.tests.ts
  packages/wp-source/src/libraries/handlers/__tests__/category.tests.ts
  packages/wp-source/src/libraries/handlers/__tests__/date.tests.ts
  packages/wp-source/src/libraries/handlers/__tests__/post-archive.tests.ts
  packages/wp-source/src/libraries/handlers/__tests__/post-type.tests.ts
  packages/wp-source/src/libraries/handlers/__tests__/tag.tests.ts
Labels: @wp-source, bug

#202 feat(wp-source): add settings for CPTs and Custom Taxonomies
  package-lock.json
  package.json
  packages/components/package.json
  packages/connect/package.json
  packages/core/package.json
  packages/file-settings/package.json
  packages/frontity/package.json
  packages/frontity/src/index.ts
  packages/hooks/package.json
  packages/router/package.json
  packages/source/package.json
  packages/tiny-router/package.json
  packages/types/package.json
  packages/wp-source/package.json
  packages/wp-source/src/__mocks__/index.ts
  packages/wp-source/src/__tests__/__snapshots__/actions.tests.ts.snap
  packages/wp-source/src/__tests__/actions.tests.ts
  packages/wp-source/src/__tests__/state.test.ts
  packages/wp-source/src/actions.ts
  packages/wp-source/src/libraries/__tests__/__snapshots__/populate.tests.ts.snap
  packages/wp-source/src/libraries/__tests__/populate.tests.ts
  packages/wp-source/src/libraries/handlers/__tests__/__snapshots__/author.tests.ts.snap
  packages/wp-source/src/libraries/handlers/__tests__/__snapshots__/category.tests.ts.snap
  packages/wp-source/src/libraries/handlers/__tests__/__snapshots__/date.tests.ts.snap
  packages/wp-source/src/libraries/handlers/__tests__/__snapshots__/post-archive.tests.ts.snap
  packages/wp-source/src/libraries/handlers/__tests__/__snapshots__/post-type.tests.ts.snap
  packages/wp-source/src/libraries/handlers/__tests__/__snapshots__/tag.tests.ts.snap
  packages/wp-source/src/libraries/handlers/attachment.ts
  packages/wp-source/src/libraries/handlers/author.ts
  packages/wp-source/src/libraries/handlers/category.ts
  packages/wp-source/src/libraries/handlers/date.ts
  packages/wp-source/src/libraries/handlers/index.ts
  packages/wp-source/src/libraries/handlers/page.ts
  packages/wp-source/src/libraries/handlers/post.ts
  packages/wp-source/src/libraries/handlers/postType.ts
  packages/wp-source/src/libraries/handlers/postTypeArchive.ts
  packages/wp-source/src/libraries/handlers/tag.ts
  packages/wp-source/src/libraries/handlers/taxonomy.ts
  packages/wp-source/src/state.ts
  packages/wp-source/types.ts
  packages/yoast/package.json
Labels: @wp-source, feature

#206 tests(handlers): fix `before` param generation in date handler
  packages/wp-source/src/libraries/handlers/date.ts
Labels: @wp-source, bug
