Repository frontity/frontity, pull requests merged in 2019-05, with the labels that each got.

#37 Add connect!
  .eslintrc
  packages/connect/LICENSE.md
  packages/connect/babel.config.js
  packages/connect/package-lock.json
  packages/connect/package.json
  packages/connect/src/__tests__/builtIns/Map.tests.js
  packages/connect/src/__tests__/builtIns/Set.tests.js
  packages/connect/src/__tests__/builtIns/WeakMap.tests.js
  packages/connect/src/__tests__/builtIns/WeakSet.tests.js
  packages/connect/src/__tests__/builtIns/builtIns.tests.js
  packages/connect/src/__tests__/builtIns/typedArrays.tests.js
  packages/connect/src/__tests__/create-store.tests.js
  packages/connect/src/__tests__/debug.tests.js
  packages/connect/src/__tests__/observable.tests.js
  packages/connect/src/__tests__/observe.tests.js
  packages/connect/src/__tests__/unobserve.tests.js
  packages/connect/src/builtIns/collections.js
  packages/connect/src/builtIns/index.js
  packages/connect/src/create-store.js
  packages/connect/src/handlers.js
  packages/connect/src/index.js
  packages/connect/src/internals.js
  packages/connect/src/observable.js
  packages/connect/src/observer.js
  packages/connect/src/reactionRunner.js
  packages/connect/src/store.js
Labels: @connect

#38 Add the connect API for React component
  packages/connect/babel.config.js
  packages/connect/package-lock.json
  packages/connect/package.json
  packages/connect/src/__tests__/__snapshots__/connect.tests.jsx.snap
  packages/connect/src/__tests__/connect.tests.jsx
  packages/connect/src/connect.js
  packages/connect/src/index.d.ts
  packages/connect/src/index.js
Labels: @connect

#42 Fix union types in connect
  packages/types/__tests__/connect.tests.ts
  packages/types/connect.ts
  packages/types/utils.ts
Labels: @connect, bug

#33 Changes in the CLI
  .gitignore
  examples/typescript-basic/package.json
  packages/core/src/server/index.tsx
  packages/frontity/package-lock.json
  packages/frontity/package.json
  packages/frontity/src/actions/build.ts
  packages/frontity/src/actions/create.ts
  packages/frontity/src/actions/dev.ts
  packages/frontity/src/actions/index.ts
  packages/frontity/src/actions/serve.ts
  packages/frontity/src/actions/subscribe.ts
  packages/frontity/src/commands.ts
  packages/frontity/src/functions/create/__tests__/__snapshots__/create.tests.ts.snap
  packages/frontity/src/functions/create/__tests__/__snapshots__/steps.tests.ts.snap
  packages/frontity/src/functions/create/__tests__/create.tests.ts
  packages/frontity/src/functions/create/__tests__/steps.tests.ts
  packages/frontity/src/functions/create/index.ts
  packages/frontity/src/functions/create/steps.ts
  packages/frontity/src/functions/subscribe/index.ts
  packages/frontity/src/utils.ts
  packages/frontity/templates/settings-js-template
  packages/frontity/templates/settings-ts-template
Labels: @frontity-cli

#31 Implement Tiny Router
  package-lock.json
  packages/core/tsconfig.build.json
  packages/tiny-router/README.md
  packages/tiny-router/jest.config.js
  packages/tiny-router/package-lock.json
  packages/tiny-router/package.json
  packages/tiny-router/src/__tests__/index.test.ts
  packages/tiny-router/src/actions.ts
  packages/tiny-router/src/amp/server.ts
  packages/tiny-router/src/html/client.ts
  packages/tiny-router/src/html/server.ts
  packages/tiny-router/src/index.ts
  packages/tiny-router/type.ts
  tsconfig.json
Labels: @tiny-router

#44 Change settings to state
  examples/typescript-basic/frontity.settings.ts
  packages/connect/src/index.d.ts
  packages/core/src/app/index.tsx
  packages/core/src/scripts/utils/__tests__/__snapshots__/entry-points.ts.snap
  packages/core/src/scripts/utils/__tests__/entry-points.ts
  packages/core/src/scripts/utils/entry-points.ts
  packages/core/src/server/store.ts
  packages/core/src/types.ts
  packages/core/src/utils/__tests__/__snapshots__/packages.tests.tsx.snap
  packages/core/src/utils/__tests__/packages.tests.tsx
  packages/core/src/utils/packages.ts
  packages/extension-example-1/src/html/index.tsx
  packages/extension-example-1/type.ts
  packages/extension-example-2/type.ts
  packages/file-settings/README.md
  packages/file-settings/src/__tests__/getAllSites.tests.ts
  packages/file-settings/src/__tests__/mocks/getAllSites/deactivatedPackage.json
  packages/file-settings/src/__tests__/mocks/getAllSites/monoSettings.json
  packages/file-settings/src/__tests__/mocks/getAllSites/multiSettings.json
  packages/file-settings/src/__tests__/mocks/getAllSites/namespacedPackage.json
  packages/file-settings/src/__tests__/mocks/getSettings/monoSettings.json
  packages/file-settings/src/__tests__/mocks/getSettings/settingsWithLengthOne.json
  packages/file-settings/src/__tests__/mocks/getSettings/settingsWithMatches.json
  packages/file-settings/src/__tests__/mocks/getSettings/settingsWithNames.json
  packages/file-settings/src/__tests__/mocks/getSettings/settingsWithOneMatch.json
  packages/file-settings/src/__tests__/mocks/normalizeSettings/expectedMono.json
  packages/file-settings/src/__tests__/mocks/normalizeSettings/expectedMulti.json
  packages/file-settings/src/__tests__/mocks/normalizeSettings/monoSettings.json
  packages/file-settings/src/__tests__/mocks/normalizeSettings/multiSettings.json
  packages/file-settings/src/getAllSites.ts
  packages/file-settings/src/normalizeSettings.ts
  packages/file-settings/src/types.ts
  packages/types/__tests__/action.tests.ts
  packages/types/__tests__/connect.tests.ts
  packages/types/__tests__/namespaces.tests.ts
  packages/types/__tests__/package.tests.ts
  packages/types/__tests__/settings.tests.ts
  packages/types/connect.ts
  packages/types/index.ts
  packages/types/namespaces.ts
  packages/types/package.ts
  packages/types/settings.ts
  packages/types/source/__tests__/source.tests.ts
  packages/types/source/index.ts
Labels: @core, @file-settings

#45 Fix type of connect HOC
  packages/connect/src/index.d.ts
  packages/types/__tests__/connect.tests.tsx
  packages/types/connect.ts
  packages/types/package-lock.json
  packages/types/package.json
  packages/types/utils.ts
Labels: @connect, typescript

#49 Implement Router types
  packages/router/__tests__/index.test.ts
  packages/router/index.ts
  packages/router/jest.config.js
  packages/router/package.json
  packages/tiny-router/package.json
  packages/tiny-router/type.ts
Labels: @router

#51 refactor(connect): improve connect types
  packages/connect/jest.config.js
  packages/connect/package.json
  packages/connect/src/__tests__/types.tests.tsx
  packages/connect/src/index.d.ts
  packages/extension-example-1/src/html/index.tsx
  packages/frontity/package.json
  packages/frontity/src/index.ts
  packages/types/src/__tests__/connect.tests.tsx
  packages/types/src/connect.ts
  packages/types/src/utils.ts
  packages/wp-source/package-lock.json
  packages/wp-source/package.json
Labels: @connect, typescript

#52 feat(connect): return async actions
  packages/connect/babel.config.js
  packages/connect/src/__tests__/create-store.tests.js
  packages/connect/src/__tests__/types.tests.tsx
  packages/connect/src/create-store.js
Labels: @connect

#53 tiny-router improvements
  examples/typescript-basic/frontity.settings.ts
  examples/typescript-basic/package.json
  package.json
  packages/core/package.json
  packages/core/src/client/index.tsx
  packages/core/src/client/store.ts
  packages/core/src/server/index.tsx
  packages/core/src/server/store.ts
  packages/core/src/server/utils/__tests__/__snapshots__/initial-state.tests.ts.snap
  packages/core/src/server/utils/__tests__/__snapshots__/stats.tests.ts.snap
  packages/core/src/server/utils/__tests__/initial-state.tests.ts
  packages/core/src/server/utils/__tests__/stats.tests.ts
  packages/core/src/server/utils/initial-state.ts
  packages/core/src/types.ts
  packages/core/src/utils/__tests__/__snapshots__/packages.tests.tsx.snap
  packages/core/src/utils/__tests__/packages.tests.tsx
  packages/core/src/utils/packages.ts
  packages/extension-example-1/package.json
  packages/extension-example-1/src/html/index.tsx
  packages/extension-example-1/type.ts
  packages/frontity/jest.config.js
  packages/frontity/jest.config.json
  packages/frontity/package.json
  packages/frontity/src/index.ts
  packages/router/__tests__/index.test.ts
  packages/router/index.ts
  packages/router/package.json
  packages/tiny-router/index.ts
  packages/tiny-router/package.json
  packages/tiny-router/src/__tests__/index.test.ts
  packages/tiny-router/src/actions.ts
  packages/tiny-router/src/index.ts
  packages/tiny-router/type.ts
  packages/types/src/package.ts
Labels: @tiny-router

#54 Wp Source refactoring
  packages/source/index.ts
  packages/source/source/data.ts
  packages/source/source/entities.ts
  packages/source/source/index.ts
  packages/source/src/__tests__/data.tests.ts
  packages/source/src/__tests__/entity.tests.ts
  packages/source/src/__tests__/source.tests.ts
  packages/source/src/data.ts
  packages/source/src/entities.ts
  packages/source/src/utils.ts
  packages/types/src/__tests__/state.tests.ts
  packages/types/src/index.ts
  packages/types/src/state.ts
  packages/wp-source/index.ts
  packages/wp-source/src/index.ts
  packages/wp-source/src/libraries/__tests__/api.tests.ts
  packages/wp-source/src/libraries/__tests__/populate.tests.ts
  packages/wp-source/src/libraries/__tests__/resolver.tests.ts
  packages/wp-source/src/libraries/handlers/__tests__/__snapshots__/category.tests.ts.snap
  packages/wp-source/src/libraries/handlers/__tests__/__snapshots__/date.tests.ts.snap
  packages/wp-source/src/libraries/handlers/__tests__/__snapshots__/post.tests.ts.snap
  packages/wp-source/src/libraries/handlers/__tests__/category.tests.ts
  packages/wp-source/src/libraries/handlers/__tests__/date.tests.ts
  packages/wp-source/src/libraries/handlers/__tests__/post.tests.ts
  packages/wp-source/src/libraries/handlers/attachment.ts
  packages/wp-source/src/libraries/handlers/author.ts
  packages/wp-source/src/libraries/handlers/category.ts
  packages/wp-source/src/libraries/handlers/date.ts
  packages/wp-source/src/libraries/handlers/page.ts
  packages/wp-source/src/libraries/handlers/post.ts
  packages/wp-source/src/libraries/handlers/postArchive.ts
  packages/wp-source/src/libraries/handlers/postType.ts
  packages/wp-source/src/libraries/handlers/tag.ts
  packages/wp-source/src/libraries/populate.ts
  packages/wp-source/src/libraries/resolver.ts
  packages/wp-source/src/source/__tests__/mocks/populate.ts
  packages/wp-source/src/source/actions.ts
  packages/wp-source/src/source/state.ts
  packages/wp-source/src/type.ts
  tsconfig.json
Labels: @wp-source, typescript

#56 feat(set): parse links to pathnames
  packages/tiny-router/src/__tests__/index.test.ts
  packages/tiny-router/src/actions.ts
  packages/tiny-router/src/utils.ts
Labels: @tiny-router

#57 feat(actions): new action arguments including other actions and libraries
  examples/typescript-basic/frontity.settings.ts
  packages/connect/src/__tests__/connect.tests.jsx
  packages/connect/src/__tests__/create-store.tests.js
  packages/connect/src/__tests__/observable.tests.js
  packages/connect/src/__tests__/types.tests.tsx
  packages/connect/src/create-store.js
  packages/connect/src/handlers.js
  packages/connect/src/index.d.ts
  packages/core/src/client/index.tsx
  packages/core/src/client/store.ts
  packages/core/src/scripts/utils/entry-points.ts
  packages/core/src/server/index.tsx
  packages/core/src/server/store.ts
  packages/core/src/utils/__tests__/__snapshots__/merge-packages.tests.tsx.snap
  packages/core/src/utils/__tests__/get-variable.tests.ts
  packages/core/src/utils/__tests__/merge-packages.tests.tsx
  packages/core/src/utils/get-variable.ts
  packages/core/src/utils/merge-packages.ts
  packages/core/src/utils/packages.ts
  packages/extension-example-1/index.ts
  packages/extension-example-1/src/html/index.tsx
  packages/extension-example-2/index.ts
  packages/extension-example-2/src/html/index.tsx
  packages/extension-example-2/src/html/server.ts
  packages/router/__tests__/index.test.ts
  packages/source/src/__tests__/source.tests.ts
  packages/tiny-router/src/actions.ts
  packages/tiny-router/src/index.ts
  packages/types/src/__tests__/action.tests.ts
  packages/types/src/__tests__/connect.tests.tsx
  packages/types/src/__tests__/derived.tests.ts
  packages/types/src/__tests__/package.tests.ts
  packages/types/src/__tests__/state.tests.ts
  packages/types/src/action.ts
  packages/types/src/derived.ts
  packages/types/src/package.ts
  packages/types/src/utils.ts
  packages/wp-source/src/__tests__/actions.tests.ts
  packages/wp-source/src/__tests__/mocks/api.ts
  packages/wp-source/src/__tests__/mocks/populate.ts
  packages/wp-source/src/__tests__/mocks/resolver.ts
  packages/wp-source/src/__tests__/state.test.ts
  packages/wp-source/src/actions.ts
  packages/wp-source/src/index.ts
  packages/wp-source/src/source/utils/index.ts
  packages/wp-source/src/state.ts
  packages/wp-source/src/utils/normalize-path.ts
Labels: @connect, @core

#59 fix(cli): fixes dependencies and settings
  packages/frontity/package.json
  packages/frontity/src/functions/create/__tests__/__snapshots__/steps.tests.ts.snap
  packages/frontity/src/functions/create/__tests__/steps.tests.ts
  packages/frontity/src/functions/create/steps.ts
Labels: @frontity-cli

#61 fix(cli): fixes ts-node dependency for npx
  packages/frontity/src/commands.ts
Labels: @frontity-cli, bug

#62 feat(mars-theme): add codesplitting of the list
  packages/mars-theme/src/html/components/list/index.js
  packages/mars-theme/src/html/components/list/list.js
  packages/mars-theme/src/html/components/post.js
Labels: @mars-theme

#64 chore(mars-theme): add 404 page
  packages/mars-theme/src/html/components/page404.js
  packages/mars-theme/src/html/components/theme.js
Labels: @mars-theme

#60 Add pagination to mars
  packages/mars-theme/src/html/components/header.js
  packages/mars-theme/src/html/components/link.js
  packages/mars-theme/src/html/components/list/list.js
  packages/mars-theme/src/html/components/list/pagination.js
  packages/mars-theme/src/html/index.js
  packages/router/index.ts
  packages/tiny-router/src/__tests__/index.test.ts
  packages/tiny-router/src/actions.ts
  packages/tiny-router/src/utils.ts
  packages/wp-source/src/actions.ts
  packages/wp-source/src/state.ts
  packages/wp-source/src/utils/parse-path.ts
Labels: @mars-theme

#69 WP Source fixes
  packages/wp-source/src/libraries/handlers/__tests__/__snapshots__/date.tests.ts.snap
  packages/wp-source/src/libraries/handlers/date.ts
  packages/wp-source/src/libraries/patterns/wp-com.ts
  packages/wp-source/src/libraries/patterns/wp-org.ts
Labels: @wp-source, bug

#71 fix(initial-state): fix merge of package state
  packages/core/src/server/utils/__tests__/__snapshots__/initial-state.tests.ts.snap
  packages/core/src/server/utils/__tests__/initial-state.tests.ts
  packages/core/src/server/utils/initial-state.ts
  packages/core/src/utils/merge-packages.ts
Labels: @core

#73 Change isCom by isWPCom and use real API URL
  packages/wp-source/index.ts
  packages/wp-source/src/__tests__/mocks/api.ts
  packages/wp-source/src/actions.ts
  packages/wp-source/src/libraries/__tests__/api.tests.ts
  packages/wp-source/src/libraries/api.ts
  packages/wp-source/src/libraries/handlers/__tests__/category.tests.ts
  packages/wp-source/src/libraries/handlers/__tests__/date.tests.ts
  packages/wp-source/src/libraries/handlers/__tests__/post.tests.ts
  packages/wp-source/src/state.ts
Labels: @wp-source

#72 feat(navbar): implements navbar on mars-theme
  examples/mars-theme-example/frontity.settings.js
  examples/mars-theme-example/frontity.settings.ts
  packages/core/src/server/utils/initial-state.ts
  packages/core/src/utils/__tests__/__snapshots__/merge-packages.tests.tsx.snap
  packages/core/src/utils/__tests__/merge-packages.tests.tsx
  packages/core/src/utils/merge-packages.ts
  packages/mars-theme/src/html/components/header.js
  packages/mars-theme/src/html/components/list/list-item.js
  packages/mars-theme/src/html/components/list/list.js
  packages/mars-theme/src/html/components/list/pagination.js
  packages/mars-theme/src/html/components/nav.js
  packages/mars-theme/src/html/components/page404.js
  packages/mars-theme/src/html/components/post.js
  packages/mars-theme/src/html/components/theme.js
  packages/mars-theme/src/html/index.js
  packages/wp-source/src/libraries/handlers/__tests__/__snapshots__/category.tests.ts.snap
  packages/wp-source/src/libraries/handlers/__tests__/__snapshots__/date.tests.ts.snap
  packages/wp-source/src/libraries/handlers/author.ts
  packages/wp-source/src/libraries/handlers/category.ts
  packages/wp-source/src/libraries/handlers/date.ts
  packages/wp-source/src/libraries/handlers/postArchive.ts
Labels: @mars-theme

#75 chore(create-cli): add menu to settings
  packages/frontity/src/functions/create/__tests__/__snapshots__/steps.tests.ts.snap
  packages/frontity/src/functions/create/steps.ts
Labels: @frontity-cli

#74 chore(babel): use compact mode
  packages/core/src/config/babel/__tests__/__snapshots__/index.ts.snap
  packages/core/src/config/babel/index.ts
Labels: @core

#76 fix(core): fix wrong public path in scripts
  packages/core/src/server/utils/__tests__/stats.tests.ts
  packages/core/src/server/utils/stats.ts
Labels: @core, bug

#77 Support hooks in functional components
  packages/connect/src/__tests__/connect.tests.jsx
  packages/connect/src/connect.js
  packages/mars-theme/src/html/components/list/pagination.js
  packages/mars-theme/src/html/components/post.js
Labels: @connect, @mars-theme

#78 Small improvements to package jsons
  examples/mars-theme-example/package.json
  packages/frontity/src/functions/create/__tests__/__snapshots__/steps.tests.ts.snap
  packages/frontity/src/functions/create/steps.ts
  packages/mars-theme/package.json
Labels: @frontity-cli, @mars-theme

#83 Fix default wp.org patterns for permalinks
  packages/wp-source/src/libraries/__tests__/resolver.custom.tests.ts
  packages/wp-source/src/libraries/__tests__/resolver.org.test.ts
  packages/wp-source/src/libraries/patterns/wp-org.ts
Labels: @wp-source, bug

#84 Show Nav's scrollbar only when its content overflows
  packages/mars-theme/src/html/components/nav.js
Labels: @mars-theme

#90 feat(featured-media): implements featured media component
  examples/mars-theme-example/frontity.settings.js
  packages/mars-theme/index.ts
  packages/mars-theme/src/html/components/featured-media.js
  packages/mars-theme/src/html/components/list/list-item.js
  packages/mars-theme/src/html/components/post.js
  packages/mars-theme/src/html/index.js
Labels: @mars-theme

#91 Some "new project" package improvements
  examples/mars-theme-example/frontity.settings.js
  packages/frontity/src/functions/create/__tests__/__snapshots__/steps.tests.ts.snap
  packages/frontity/src/functions/create/steps.ts
  packages/frontity/src/functions/create/types.ts
  packages/frontity/templates/settings-js-template
  packages/frontity/templates/settings-ts-template
Labels: @frontity

#94 Add support for images in webpack (png, jpg, gif and svg)
  packages/core/package.json
  packages/core/src/config/webpack/__tests__/__snapshots__/index.ts.snap
  packages/core/src/config/webpack/index.ts
  packages/core/src/config/webpack/modules.ts
  packages/extension-example-2/src/html/dynamic2.tsx
  packages/extension-example-2/src/html/frontity.png
Labels: @core

#93 feat(list): adds support for author lists
  packages/mars-theme/src/html/components/list/list-item.js
  packages/mars-theme/src/html/components/list/list.js
  packages/mars-theme/src/html/components/list/pagination.js
  packages/mars-theme/src/html/components/post.js
Labels: @mars-theme

#96 fix(frontity): add compiler options for ts-node in the register function
  examples/mars-theme-example/package.json
  packages/frontity/src/commands.ts
Labels: @frontity

#103 feat(wp-classes): adds support for WP align classes
  packages/mars-theme/src/html/components/post.js
Labels: @mars-theme

#104 fix(core): deep clone state on each SSR to avoid bugs
  packages/core/src/utils/__tests__/merge-packages.tests.tsx
  packages/core/src/utils/merge-packages.ts
Labels: @core, bug

#98 feat: refactor entry-points for new modes and files
  examples/typescript-basic/frontity.settings.ts
  examples/typescript-basic/package.json
  packages/core/src/scripts/utils/__tests__/__snapshots__/entry-points.ts.snap
  packages/core/src/scripts/utils/__tests__/entry-points.ts
  packages/core/src/scripts/utils/entry-exists.ts
  packages/core/src/scripts/utils/entry-points.ts
  packages/extension-example-1/src/html/server.ts
  packages/extension-example-1/src/index.tsx
  packages/extension-example-2/src/amp/server.ts
  packages/extension-example-2/src/assets/frontity.png
  packages/extension-example-2/src/client.ts
  packages/extension-example-2/src/components/dynamic2.tsx
  packages/extension-example-2/src/html/client.ts
  packages/extension-example-2/src/index.tsx
  packages/extension-example-2/src/server.ts
  packages/file-settings/src/__tests__/getAllSites.tests.ts
  packages/file-settings/src/__tests__/mocks/getAllSites/deactivatedPackage.json
  packages/file-settings/src/__tests__/mocks/getAllSites/monoSettings.json
  packages/file-settings/src/__tests__/mocks/getAllSites/multiSettings.json
  packages/file-settings/src/__tests__/mocks/getSettings/monoSettings.json
  packages/file-settings/src/__tests__/mocks/getSettings/settingsWithLengthOne.json
  packages/file-settings/src/__tests__/mocks/getSettings/settingsWithMatches.json
  packages/file-settings/src/__tests__/mocks/getSettings/settingsWithNames.json
  packages/file-settings/src/__tests__/mocks/getSettings/settingsWithOneMatch.json
  packages/file-settings/src/__tests__/mocks/normalizeSettings/expectedMulti.json
  packages/file-settings/src/__tests__/mocks/normalizeSettings/multiSettings.json
  packages/file-settings/src/__tests__/mocks/validateSettings/packageMissingName.json
  packages/file-settings/src/__tests__/mocks/validateSettings/packageRepeatedName.json
  packages/file-settings/src/__tests__/mocks/validateSettings/settingsMissingName.json
  packages/file-settings/src/__tests__/mocks/validateSettings/settingsRepeatedName.json
  packages/file-settings/src/normalizeSettings.ts
  packages/router/__tests__/index.test.ts
  packages/router/index.ts
  packages/router/package.json
  packages/tiny-router/src/__tests__/index.test.ts
  packages/tiny-router/src/html/client.ts
  packages/tiny-router/src/html/server.ts
  packages/tiny-router/src/index.ts
Labels: @core

#106 fix(types): improve connect types with overloads
  packages/types/src/__tests__/connect.tests.tsx
  packages/types/src/connect.ts
Labels: @connect, typescript
