Repository frontity/frontity, pull requests merged in 2019-08, with the labels that each got.

#175 feat(core): add state.frontity.rendering with either ssr or csr
  packages/core/src/client/index.tsx
  packages/core/src/server/utils/__tests__/__snapshots__/initial-state.tests.ts.snap
  packages/core/src/server/utils/__tests__/initial-state.tests.ts
  packages/core/src/server/utils/initial-state.ts
  packages/types/src/package.ts
Labels: @core, improvement

#179 fix(wp-source): do not set `isHome` in `postArchive` handler
  packages/wp-source/src/libraries/handlers/postArchive.ts
Labels: @wp-source, bug

#171 fix(components): fixes image component
  package-lock.json
  packages/components/__tests__/__snapshots__/image.jsdom.tests.tsx.snap
  packages/components/__tests__/__snapshots__/image.node.tests.tsx.snap
  packages/components/__tests__/image.jsdom.tests.tsx
  packages/components/image.tsx
  packages/mars-theme/src/components/featured-media.js
Labels: @components, @hooks, @mars-theme, bug, contribution
