Repository frontity/frontity, pull requests merged in 2019-04, with the labels that each got.

#24 Serve both es5 and modules
  examples/typescript-basic/frontity.settings.ts
  examples/typescript-basic/package.json
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/app/dynamic.tsx
  packages/core/src/client/index.tsx
  packages/core/src/config/frontity/index.ts
  packages/core/src/config/index.ts
  packages/core/src/config/webpack/__tests__/__snapshots__/index.ts.snap
  packages/core/src/config/webpack/__tests__/index.ts
  packages/core/src/config/webpack/index.ts
  packages/core/src/config/webpack/plugins.ts
  packages/core/src/scripts/build.ts
  packages/core/src/scripts/dev.ts
  packages/core/src/scripts/serve.ts
  packages/core/src/scripts/utils/create-app.ts
  packages/core/src/scripts/utils/env-and-defaults.ts
  packages/core/src/scripts/utils/envs.ts
  packages/core/src/scripts/utils/webpack.ts
  packages/core/src/server/index.tsx
  packages/core/src/server/templates/amp.ts
  packages/core/src/server/templates/html.ts
  packages/core/src/server/templates/index.ts
  packages/core/src/server/utils/__tests__/__snapshots__/stats.ts.snap
  packages/core/src/server/utils/__tests__/stats.ts
  packages/core/src/server/utils/stats.ts
  packages/core/src/types.ts
Labels: @core

#29 Add helmet SSR
  package-lock.json
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/app/index.tsx
  packages/core/src/server/index.tsx
  packages/core/src/server/templates/amp.ts
  packages/core/src/server/templates/html.ts
  packages/core/src/server/utils/__tests__/namespaces.ts
  packages/core/src/server/utils/head.ts
  packages/core/src/server/utils/namespaces.ts
  packages/core/src/types.ts
Labels: @core

#30 Add Emotion SSR
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/app/index.tsx
  packages/core/src/client/index.tsx
  packages/core/src/config/babel/__tests__/__snapshots__/index.ts.snap
  packages/core/src/config/babel/index.ts
  packages/core/src/server/index.tsx
  packages/core/src/server/templates/amp.ts
  packages/core/src/server/templates/html.ts
  packages/core/src/types.ts
  packages/extension-example-2/src/html/dynamic2.tsx
Labels: @core

#23 Implement `create` command in `frontity`.
  packages/core/package.json
  packages/core/src/scripts/build.ts
  packages/core/src/scripts/dev.ts
  packages/core/src/scripts/index.ts
  packages/core/src/scripts/serve.ts
  packages/core/tsconfig.build.json
  packages/frontity/__tests__/frontity.test.js
  packages/frontity/jest.config.json
  packages/frontity/package-lock.json
  packages/frontity/package.json
  packages/frontity/src/actions/build.ts
  packages/frontity/src/actions/create-package.ts
  packages/frontity/src/actions/create.ts
  packages/frontity/src/actions/dev.ts
  packages/frontity/src/actions/index.ts
  packages/frontity/src/actions/serve.ts
  packages/frontity/src/commands.ts
  packages/frontity/src/functions/create/__tests__/__snapshots__/create.tests.ts.snap
  packages/frontity/src/functions/create/__tests__/__snapshots__/steps.tests.ts.snap
  packages/frontity/src/functions/create/__tests__/create.tests.ts
  packages/frontity/src/functions/create/__tests__/steps.tests.ts
  packages/frontity/src/functions/create/index.ts
  packages/frontity/src/functions/create/steps.ts
  packages/frontity/src/functions/create/types.ts
  packages/frontity/src/index.js
  packages/frontity/src/index.ts
  packages/frontity/src/templates/settings-js-template
  packages/frontity/src/templates/settings-ts-template
  packages/frontity/src/utils/error.ts
  packages/frontity/tsconfig.build.json
  packages/frontity/tsconfig.json
Labels: @frontity-cli

#35 First Typescript types: Settings, Package, Action, Derived and Source
  examples/typescript-basic/frontity.settings.ts
  examples/typescript-basic/package.json
  package-lock.json
  package.json
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/src/server/utils/namespaces.ts
  packages/extension-example-1/package.json
  packages/extension-example-2/package.json
  packages/file-settings/package-lock.json
  packages/file-settings/package.json
  packages/frontity/package-lock.json
  packages/frontity/package.json
  packages/types/__tests__/action.tests.ts
  packages/types/__tests__/derived.tests.ts
  packages/types/__tests__/package.tests.ts
  packages/types/__tests__/settings.tests.ts
  packages/types/action.ts
  packages/types/derived.ts
  packages/types/index.ts
  packages/types/jest.config.js
  packages/types/namespace.ts
  packages/types/package-lock.json
  packages/types/package.json
  packages/types/package.ts
  packages/types/settings.ts
  packages/types/source/__tests__/source.tests.ts
  packages/types/source/data.ts
  packages/types/source/entities.ts
  packages/types/source/index.ts
  packages/types/utils.ts
Labels: typescript
